.mydev{
	height:700bx;
	background-color:#f68;
	border-radius:4px;
	padding:10%;
	margin:auto;
}

 
}
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    
    
    transition: all 0.3s;
}
#sidebar li a{
	color:#c3f;
	padding:4%;
	font-weight:bold;
}